#header{
    width: 100%;
    color: white;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}
.header-container{
    height: 60px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.nav-brand{
    margin-top: 13px;
    color: white;
    font-weight: 700px;
}

.header-container ul{
    margin-top: 8px;
}

.active-nav{
    border-bottom: 4px solid #1dd49a;
    transition: .400s ease-in-out;
    font-weight: bold;
}


.nav-link a{
    text-decoration: none;
    padding: 5px 2px;
    margin: 0 25px;
    color: white;
}

.nav-link a:hover, .inactive-nav:hover{
    color: #1dd49a;
    border-bottom: 4px solid #1dd49a;
    transition: .400s ease-in;
    font-weight: bold;
}

.logout-btn{
    background-color: transparent;
    color: white;
    border: solid 1px #1dd49a;
    /* border-radius: 5px; */
}

.logout-btn:hover{
    background-color:#1dd49a;
    color: white;
    border: solid 1px #1dd49a;
}